<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>4</integer>
	<dict>
		<key>block</key>
		<string>YES</string>
		<key>position</key>
		<integer>1</integer>
		<key>pic</key>
		<string>pic1</string>
		<key>subarra</key>
		<array>
			<integer>8</integer>
			<dict>
				<key>pic</key>
				<string>pic1</string>
				<key>position</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic2</string>
				<key>position</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic3</string>
				<key>position</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic4</string>
				<key>position</key>
				<string>4</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic5</string>
				<key>position</key>
				<string>6</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic6</string>
				<key>position</key>
				<string>7</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic7</string>
				<key>position</key>
				<string>8</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic8</string>
				<key>position</key>
				<string>9</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>block</key>
		<string>NO</string>
		<key>position</key>
		<integer>2</integer>
		<key>pic</key>
		<string>pic2</string>
		<key>subarra</key>
		<array>
			<string>4</string>
			<dict>
				<key>pic</key>
				<string>pic1</string>
				<key>position</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic2</string>
				<key>position</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic3</string>
				<key>position</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic4</string>
				<key>position</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>block</key>
		<string>NO</string>
		<key>position</key>
		<integer>3</integer>
		<key>pic</key>
		<string>pic3</string>
		<key>subarra</key>
		<array>
			<string>4</string>
			<dict>
				<key>pic</key>
				<string>pic1</string>
				<key>position</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic2</string>
				<key>position</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic3</string>
				<key>position</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic4</string>
				<key>position</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>block</key>
		<string>NO</string>
		<key>position</key>
		<integer>4</integer>
		<key>pic</key>
		<string>pic4</string>
		<key>subarra</key>
		<array>
			<integer>8</integer>
			<dict>
				<key>pic</key>
				<string>pic1</string>
				<key>position</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic2</string>
				<key>position</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic3</string>
				<key>position</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic4</string>
				<key>position</key>
				<string>4</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic5</string>
				<key>position</key>
				<string>6</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic6</string>
				<key>position</key>
				<string>7</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic7</string>
				<key>position</key>
				<string>8</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>pic8</string>
				<key>position</key>
				<string>9</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
